
  /* Hexágono estilo colmeia */
  .clip-hex {
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
  }

      html { scroll-behavior: smooth; }
    .fade-in { opacity: 0; transform: translateY(30px); transition: all 0.8s ease; }
    .fade-in.visible { opacity: 1; transform: translateY(0); }

/* Animação de entrada */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn .7s ease forwards;
}

/* Grupo do input */
.input-group {
  position: relative;
}

/* Input Base */
.input-effect {
  width: 100%;
  padding: 14px;
  border: 1px solid #c7b88a;
  border-radius: 10px;
  outline: none;
  transition: .2s;
  background: white;
}

/* Borda e brilho no foco */
.input-effect:focus {
  border-color: #82466D;
  box-shadow: 0 0 10px #82466d43;
}

/* Label flutuante */
.input-label {
  position: absolute;
  top: 14px;
  left: 14px;
  color: #8a7b56;
  pointer-events: none;
  transition: .2s;
}

/* Move label quando digita ou foca */
.peer:focus ~ .input-label,
.peer:not(:placeholder-shown) ~ .input-label {
  top: -10px;
  background: white;
  padding: 0 6px;
  font-size: 12px;
  color: #82466D;
}


@keyframes spin {
  to { transform: rotate(360deg); }
}

.loading-icon {
  width: 18px;
  height: 18px;
  border: 3px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin .7s linear infinite;
}
